.welcome{
    margin: 16px;
}

.img-deet{
    width: 40%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@media only screen and (max-height:550px){
    .img-deet{
        width: 400px;
    }
  }
  
  @media only screen and (max-width:640px){
    .img-deet{
        width: 60%;
        align-self: center;
        margin-bottom: -20px;
    }
  }